<div class="p-3 bg-[#fafafa] rounded-xl cursor-grab flex flex-col gap-3">
  <div class="flex gap-1">
    <p class="font-bold">Minha nova tarefa</p>
    <img
      class="self-start cursor-pointer ml-auto"
      src="images/icon-delete.svg"
    />
  </div>
  <p class="font-light text-sm">
    Essa é a minha tarefa para criar uma aplicação Angular...
  </p>
  <div class="flex items-center gap-1">
    <img src="images/icon-comments.svg" />
    <p
      class="font-semibold text-xs text-[#2a89ef] underline underline-offset-2 cursor-pointer"
    >
      2 Comentários
    </p>
    <p
      (click)="openEditTaskModal()"
      class="font-semibold text-xs text-[#2a89ef] underline underline-offset-2 cursor-pointer ml-auto"
    >
      Editar
    </p>
  </div>
</div>
